body{
    margin:0;
    padding:0;
}

.container{
    width:1000px;
    margin: 50px auto;
}

.gradient{
    background: linear-gradient(90deg,rgba(45,156,219,.6),rgba(155,81,224,.6));
}

.btn{
    padding:10px 20px;
    width: 50px;
    border-radius: 25px;
    color:white;
    text-decoration: none;
    -webkit-box-shadow: 2px 2px 15px 7px rgba(0,0,0,0.3);
    box-shadow: 2px 2px 15px 7px rgba(0,0,0,0.3);
}

.btn:hover{
    text-decoration: underline;
    cursor:pointer;
}

.left-bar{
    width: 180px;
    height:500px;
    float:left;
    margin-right: 1%;
}

.card{
    border-radius: 10px;
    width:20%;
    float:left;
    padding:5%;
    height: 170px;
    margin-right: 3%;
    background-color: rgb(209,209,209);
}

.content{
    width: 800px;
    float:left;
}

.float-clear{
    clear:both;
}

.bg-red{
    background-color: red;
}

.bg-gray{
    background-color: gray;
}

.bg-yellow{
    background-color: yellow;
}